
header {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.logo{
  width: 100px;
}

.right-nav {
  width: 150px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.right-nav :hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}

footer {
  background-color: hsl(216, 53%, 9%);
  color: white;
  padding: 220px 20px 20px 20px;
  text-align: left;
  position: relative;
}

.fylo-footer-logo {
  padding-left: 15px;
  padding-bottom: 30px;
}

.location, .contact, .email {
  display: flex;
  align-items: flex-start;
  margin: 10px 0 15px 0;
}

.location p, .contact p, .email p {
  margin-left: 25px;
}

.contact-email {
  margin-bottom: 70px;
}

.addition div p {
  margin-bottom: 20px;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.addition p:hover {
  cursor: pointer;
  font-weight: bold;
}

.addition div {
  margin-bottom: 70px;
}


footer .socials-image {
 fill: white;
 text-align: center;
}


.socials-image svg {
  width: 40px;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.socials-image svg:hover {
  cursor: pointer;
  fill: hsl(176, 68%, 64%);
}

@media only screen and (min-width: 1000px) {
  header {
    width: 1000px;
  }

  .logo{
    margin-left: 40px;
  }
  
  .right-nav {
    width: 200px;
    margin-right: 40px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }

  .footer-inside {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .location {
    width: 300px;
  }

  .contact-email {
    display: flex;
    flex-direction: column;
  }
  
  .addition {
    display: flex;
    column-gap: 50px;
  }

}